{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block style %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>


  {% endblock %}
{% block title %}
Student Details    
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="justify-content-center" style="margin-top: 96px;display: flex; align-items: center; margin-top: 52px;
">

    <form action="" method="POST" style="width: 400px; align-items: center;">
      <h2>Attendance Details</h2><br>
      {% csrf_token %}
      {{ addattendance|crispy }}                 
    <button class="btn btn-primary" type="submit">ADD  ATTENDANCE</button>
    </form>
  </div>


  <table>
    <tr>
      <th>Student class</th>
      <th>Name</th>
      <th>Date</th>
      <th>Attendance</th>
      
    </tr>
    {% for field in attendancedata %}
      <tr>
        <td>{{ field.Class }}</td>
        <td>{{ field.name }}</td>
        <td>{{ field.date }}</td>
        <td>{{ field.attendance }}</td>
       
        
      </tr> 
    {% endfor %}
  </table>
  
  

{% endblock %}



       

